.box {
    background-color: rgb(204, 158, 106, 0.6);
    margin: 10px 10px 10px 100px;
    padding: 10px 70px 10px 100px;
    width: 900px;
    border-radius: 10px;
}

.title {
    color: rgb(39, 32, 16);
    font-size: 25px;
    font-weight: bold;
}

table {
    border: none;
}

td {
    border: none;
    padding: 0px 20px 0px 0px;
}